{% extends "base.html" %}
{% load chunk from chunks %}
{% load editablebox editableattr  editablechunk from contenteditable %}
{% load url from future %}

{% block main %}
  <section>
    <div {% editablechunk "intro" %}>
      {% chunk "intro" %}
    </div>
  </section>

  <div class="row">
    <section class="col-lg-8">
      {% for item in object_list %}
        <article style="clear:both;">
          <div class="headshot">
            <img class="img-circle" width=100 height=100
              src="http://robohash.org/{{ item.title|urlencode }}">
          </div>
          <h3 {% editablebox item %} {% editableattr 'title' %}>{{ item.title }}</h3>
          <p>{{ item.text|safe|truncatewords:30 }}</p>
          <p class="pull-right">
            <a href="{{ item.get_absolute_url }}"><i class="icon-share-alt"></i> Read more...</a>
          </p>
        </article>
      {% empty %}
        <p>No articles!</p>
      {% endfor %}
    </section>
    <aside class="col-lg-4">
      <div class="ad">
        Brought to you by:
        <img src="http://placekitten.com/300/250" alt="" style="max-width: 100%">
        Felecula Heavy Manufacturing
      </div>
    </aside>
  </div>

  {% comment %}
    TODO
    <div style="margin-top:20px; background-color:#aaffaa;">
      <p>Adding a new article is very simple: <span class="{% editableitem "article" "-1" "title" "Insert article title and press enter..." %}"></span></p>
    </div>
  {% endcomment %}

{% endblock %}
