{% extends "base.html" %}
{% load url from future %}
{% load editable editablebox editableattr from contenteditable %}

{% block main %}
  <ul class="breadcrumb">
    <li><a href="{% url 'article_list' %}">Back to list</a></li>
    <li class="active">{{ article }}</li>
  </ul>
  {% comment %}

    `{% editablebox %}` goes on the container for a model. This inserts the
    attributes needed so the JavaScript knows how to save back the right model
    and object.

  {% endcomment %}
  <article {% editablebox article %}>
    {% comment %}

      `{% editable %}` is a shortcut for making an editable tag from a field. It
      takes two arguments:
        1) the accessor to the field and
        2) the tag to enclose.

    {% endcomment %}
    {% editable article.title "h3" %}
    {% comment %}

      `{% editableattr %}` is how you would insert the attributes needed to make
      an editable element into existing markup. It takes two arguments:
        1. the name of the field
        2. (optional) placeholder

    {% endcomment %}
    <div class="content" {% editableattr "text" "Insert article text here..." %}>
      {{ article.text|safe }}
    </div>
  </article>
{% endblock %}
